#explainer-block {
    padding-top: 5rem;
    height: 80vh;
    width: 100%;
    background-color: var(--color--pastel-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#steps-header {
    padding-bottom: 2rem;
    width: 80%;
    text-align: left;
}
#steps-header p {
    font-weight: 500;
}
#steps-header #explainer-small{
    font-size: .75rem;
    font-weight: 800;
}
.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .block {
    padding: .5rem .2rem;
    background-color: #fff;
    margin: .8rem;
    width:290px;
    height:350px;
    border: solid black 2px;
    box-shadow: -10px 10px #c1c1c1, 
                -12px 12px #000000,
                -12px 8px #000000,
                -8px 12px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.card-image {
    width: 80%;
  }
.card-header {
    font-weight: 500;
    font-size: 1rem;
    margin-top: .2rem;
    font-weight: 500;
  }
.block:hover {
    transform: scale(1.05);
  }
.block p {
  padding: .3rem .1rem;
  text-align: center;
  font-size: .75rem;
}