#contact-block {
    height: 100vh;
    width: 100%;
    background-color: $mint;
    display: grid;
    place-items: center;

    &_form {
        font-family: 'Raleway';
        border: solid black 1px;
        background-color: white;
        width: 40%;
        min-width: 500px;
        height: 65%;

        display: flex;
        flex-direction: column;

        padding: 2rem 2.5rem;

        box-shadow: -30px 30px var(--color--minty), 
                      -31px 29px #000000,
                      -31px 31px #000000,
                      -29px 31px #000000;
        
        h2 {
            font-weight: 400;
        }

        .name-container {
            display: flex;
            
            :first-child {
                padding-right: .5rem;
            }
            &-block {
                width: 50%;
                display: flex;
                flex-direction: column;
                padding: 0 .3rem 0 0;
            }
        }

        label {
            font-size: .7rem;
            margin-top: .7rem;
            margin-bottom: .2rem;
        }

        textarea {
            padding: .5rem;
            color: $inputText;
        }
        
        input {
            font-family: inherit;
            color: #6b6b6b;
            &[type=text], 
            &[type=email]  {
                height: 1.8rem;
                padding-left: .5rem;
            }
            &[type=submit] {
                font-size: .7rem;
                font-weight: 100;
                height: 1.5rem;
                width: 8rem;
                background-color: white;
                border: solid black 1px;

                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}
