header {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 4rem 4rem 4rem;


    .top-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        &_branding-container {
            width: 15%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            h3 {
                font-size: 1rem;
            }
            
            .logo {
                display: grid;
                place-items: center;
                border: solid rgb(255, 218, 52) 8px;
                height: 4rem;
                width: 4rem;
                border-radius: 50%;
                background-color: yellow;

                h1 {
                    color: rgb(255, 218, 52);
                }
            }
        }

        #site-nav {
            width: 30%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            a {
                font-size: .85rem;
                text-decoration: none;
                color: black;
                font-weight: 500;
                padding: .4rem;
    
                &:hover {
                    text-decoration: underline;
                    font-weight: 600;
                }
            }
        }
    }

    #header-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        
        &_cta {
            &-image {
                width: 50%;
            }
            &-texts {
                font-size: 2.7rem;
                font-weight: 400;
            }
            &-buttons {
                padding-top: 1rem;
                display: flex;
                /* justify-content: space-evenly; */
                align-items: flex-start;

                a {
                    text-align: center;
                    text-decoration: none;
                    color: black;
                    width: 35%;
                    margin-right: 1.5rem;
                    line-height: 2.4rem;
                    font-size: .8rem;
                    font-weight: 500;
                    background-color: $mint;
                    border: solid black 1px;
                    box-shadow: -10px 10px #c1f7c0,
                                -11px 11px #000000,
                                -11px 9px #000000,
                                -9px 11px #000000;

                }
            }
        }
    }
    .circle {
        height: 100vw;
        width: 100vw;
        position: fixed;
        border-radius: 50%;

    }
    .circle1 {
        @extend .circle;
        background-color: #6FFF6C;
        z-index: -10;
        top: -110vh;
        left: -20vw;
        opacity: .3;
    }
    
    .circle2 {
        @extend .circle;
        background-color: #d1d1d16e;
        z-index: -20;
        top: -110vh;
        left: -30vw;
    }
}

