header {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 4rem 4rem 4rem;

    @include breakpoint(tablet) { 
        padding: 2rem;
        padding-bottom: 3rem;
        background-color: $mint;
        padding-top: .7rem;
    }

    .top-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        &_branding-container {
            width: 15rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            // @include breakpoint(tablet) {width: 30%;}
            img {
                width: 15rem;
            }

            h3 {
                font-size: 1rem;
                @include breakpoint(tablet) {
                    font-size: .8rem;
                }
            }
            
            .logo {
                display: grid;
                place-items: center;
                border: solid rgb(255, 218, 52) 8px;
                height: 4rem;
                width: 4rem;
                border-radius: 50%;
                background-color: yellow;
                margin-right: 1rem;

                // @include breakpoint(tablet) {
                //     height: 2rem;
                //     width: 2rem;
                //     border-width: 4px;
                // }
                @include breakpoint(med) {
                    height: 3rem;
                    width: 3rem;
                    border-width: 4px;
                }
                @include breakpoint(tablet) {
                    height: 3rem;
                    width: 3rem;
                    border-width: 4px;
                }

                h1 {
                    color: rgb(255, 218, 52);
                    @include breakpoint(tablet) {font-size: .95rem;}
                    @include breakpoint(med) {font-size: .5rem;}
                }
            }
        }

        #site-nav {
            width: 40%;
            display: flex;
            justify-content: flex-end;
            
            #horizontal-nav {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-content: flex-end;
                @include breakpoint(tablet) {display: none;}
                @include breakpoint(med) { display:none;}

                a {
                    font-size: .85rem;
                    text-decoration: none;
                    color: black;
                    font-weight: 500;
                    margin-right: 2rem;
                    
                    @include breakpoint(tablet) { font-size: .6rem;}
     
                     &:hover {
                         text-decoration: underline;
                         font-weight: 600;
                     }
                 }
            }

            

            #vertical-nav {
                background-color: white;
                display: none;
                float: right;
                flex-direction: column;
                justify-content: space-between;
                border: solid $offBlack 2px;
                position: absolute;
                top: 3.5rem;
                box-shadow: -10px 10px $offBlack,
                                -11px 11px #000000,
                                -11px 9px #000000,
                                -9px 11px #000000;
                @include breakpoint(med) { top: 4rem;}
                
                a{
                    color: $offBlack;
                    font-size: .75rem;
                    text-decoration: none;
                    padding: .5rem;
                    width: 10rem;
                    text-align: left;

                    &:hover {
                        font-weight: 600;
                        background-color: $purple;
                    }
                }
            }
            
            #nav-toggle {
                float: right;
                // top: 2.3rem;
                @include breakpoint(lg) {display: none;}

                &:hover {
                    transform: scale(1.05);
                }

            }

           
           
        }
    }

    #header-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        
        @include breakpoint(tablet) {
            height: 100%;
            flex-direction: column;
            flex-flow: column-reverse;
            padding-top: 25%;
        }

        @include breakpoint(med) { 
            height: 100%;
        }
        
        &_cta {
            &-image {
                width: 50%;
                @include breakpoint(tablet) {
                    width: 100%;
                }
            }
            &-texts {
                font-size: 2.7rem;
                font-weight: 400;
                
                @include breakpoint(tablet) {
                    font-size: 1rem;
                    display: none;
                }
                @include breakpoint(med) {
                    font-size: 1.7rem;
                }
                
                &--alt {
                    font-size: 1.7rem;
                    font-weight: 400;
                    display: none;
                    @include breakpoint(tablet) { display: block;}
                }
            }

            &-buttons {
                padding-top: 1rem;
                display: flex;
                align-items: flex-start;

                @include breakpoint(tablet) { justify-content: center;}

                a {
                    text-align: center;
                    text-decoration: none;
                    color: black;
                    width: 35%;
                    margin-right: 1.5rem;
                    line-height: 2.4rem;
                    font-size: .8rem;
                    font-weight: 500;
                    background-color: $mint;
                    border: solid black 1px;
                    box-shadow: -10px 10px #c1f7c0,
                                -11px 11px #000000,
                                -11px 9px #000000,
                                -9px 11px #000000;

                    @include breakpoint(tablet) { 
                        font-size: .7rem;
                        width: 50%;
                        box-shadow: -10px 10px $offBlack,
                                -11px 11px #000000,
                                -11px 9px #000000,
                                -9px 11px #000000;
                    }
                    @include breakpoint(med) { 
                        font-size: .7rem;
                        width: 50%;
                        box-shadow: -10px 10px $offBlack,
                                -11px 11px #000000,
                                -11px 9px #000000,
                                -9px 11px #000000;
                    }

                }
            }
        }
    }
    .circle {
        height: 100vw;
        width: 100vw;
        position: fixed;
        border-radius: 50%;

        @include breakpoint(tablet) { display: none}
        @include breakpoint(med) { 
            width: 70rem;
            height: 70rem;
        }

    }
    .circle1 {
        @extend .circle;
        background-color: $mint;
        z-index: -10;
        top: -110vh;
        left: -20vw;
        // opacity: .3;

        @include breakpoint(med) {
            top: -80%;
            left: -50%;
    
        }

    }
    .circle2 {
        @extend .circle;
        background-color: #d1d1d16e;
        z-index: -20;
        top: -110vh;
        left: -30vw;

        @include breakpoint(med) {
            top: -90%;
            left: -70%;
    
        }
    }
}

