@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,500;0,900;1,200&display=swap");
:root {
  font-size: 24px;
}

* {
  box-sizing: border-box;
  font-family: "Raleway";
  padding: 0px;
  margin: 0px;
}

* html {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

* html body {
  background-color: black;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow: hidden;
}

* html body .scroll-snap-target {
  scroll-snap-align: start;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  width: 8px;
  border: none;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
  display: none;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background: #CACACA;
}

::-webkit-scrollbar-track {
  background-color: #363537;
}

header {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 4rem 4rem 4rem;
}

@media (max-width: 750px) {
  header {
    padding: 2rem;
    padding-bottom: 3rem;
    background-color: #CEFFDC;
    padding-top: .7rem;
  }
}

header .top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .top-bar_branding-container {
  width: 15rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header .top-bar_branding-container img {
  object-fit: contain;
  width: 15rem;
}

@media (max-width: 750px) {
  header .top-bar_branding-container img {
    width: 80%;
  }
}

header .top-bar_branding-container h3 {
  font-size: 1rem;
}

@media (max-width: 750px) {
  header .top-bar_branding-container h3 {
    font-size: .8rem;
  }
}

header .top-bar_branding-container .logo {
  display: grid;
  place-items: center;
  border: solid #ffda34 8px;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: yellow;
  margin-right: 1rem;
}

@media (max-width: 1500px) and (min-width: 750px) {
  header .top-bar_branding-container .logo {
    height: 3rem;
    width: 3rem;
    border-width: 4px;
  }
}

@media (max-width: 750px) {
  header .top-bar_branding-container .logo {
    height: 3rem;
    width: 3rem;
    border-width: 4px;
  }
}

header .top-bar_branding-container .logo h1 {
  color: #ffda34;
}

@media (max-width: 750px) {
  header .top-bar_branding-container .logo h1 {
    font-size: .95rem;
  }
}

@media (max-width: 1500px) and (min-width: 750px) {
  header .top-bar_branding-container .logo h1 {
    font-size: .5rem;
  }
}

header .top-bar #site-nav {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

header .top-bar #site-nav #horizontal-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
}

@media (max-width: 750px) {
  header .top-bar #site-nav #horizontal-nav {
    display: none;
  }
}

@media (max-width: 1500px) and (min-width: 750px) {
  header .top-bar #site-nav #horizontal-nav {
    display: none;
  }
}

header .top-bar #site-nav #horizontal-nav a {
  font-size: .85rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
  margin-right: 2rem;
}

@media (max-width: 750px) {
  header .top-bar #site-nav #horizontal-nav a {
    font-size: .6rem;
  }
}

header .top-bar #site-nav #horizontal-nav a:hover {
  text-decoration: underline;
  font-weight: 600;
}

header .top-bar #site-nav #vertical-nav {
  background-color: white;
  display: none;
  float: right;
  flex-direction: column;
  justify-content: space-between;
  border: solid #363537 2px;
  position: absolute;
  top: 3.5rem;
  box-shadow: -10px 10px #363537, -11px 11px #000000, -11px 9px #000000, -9px 11px #000000;
}

@media (max-width: 1500px) and (min-width: 750px) {
  header .top-bar #site-nav #vertical-nav {
    top: 4rem;
  }
}

header .top-bar #site-nav #vertical-nav a {
  color: #363537;
  font-size: .75rem;
  text-decoration: none;
  padding: .5rem;
  width: 10rem;
  text-align: left;
}

header .top-bar #site-nav #vertical-nav a:hover {
  font-weight: 600;
  background-color: #E8E9F3;
}

header .top-bar #site-nav #nav-toggle {
  float: right;
}

@media (min-width: 1500px) {
  header .top-bar #site-nav #nav-toggle {
    display: none;
  }
}

header .top-bar #site-nav #nav-toggle:hover {
  transform: scale(1.05);
}

header #header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 750px) {
  header #header-content {
    height: 100%;
    flex-direction: column;
    flex-flow: column-reverse;
    padding-top: 25%;
  }
}

@media (max-width: 1500px) and (min-width: 750px) {
  header #header-content {
    height: 100%;
  }
}

header #header-content_cta-image {
  width: 50%;
}

@media (max-width: 750px) {
  header #header-content_cta-image {
    width: 100%;
  }
}

header #header-content_cta-texts {
  font-size: 2.7rem;
  font-weight: 400;
}

@media (max-width: 750px) {
  header #header-content_cta-texts {
    font-size: 1rem;
    display: none;
  }
}

@media (max-width: 1500px) and (min-width: 750px) {
  header #header-content_cta-texts {
    font-size: 1.7rem;
  }
}

header #header-content_cta-texts--alt {
  font-size: 1.7rem;
  font-weight: 400;
  display: none;
}

@media (max-width: 750px) {
  header #header-content_cta-texts--alt {
    display: block;
  }
}

header #header-content_cta-buttons {
  padding-top: 1rem;
  display: flex;
  align-items: flex-start;
}

@media (max-width: 750px) {
  header #header-content_cta-buttons {
    justify-content: center;
  }
}

header #header-content_cta-buttons a {
  text-align: center;
  text-decoration: none;
  color: black;
  width: 35%;
  margin-right: 1.5rem;
  line-height: 2.4rem;
  font-size: .8rem;
  font-weight: 500;
  background-color: #CEFFDC;
  border: solid black 1px;
  box-shadow: -10px 10px #363537, -11px 11px #000000, -11px 9px #000000, -9px 11px #000000;
}

@media (max-width: 750px) {
  header #header-content_cta-buttons a {
    font-size: .7rem;
    width: 50%;
    box-shadow: -10px 10px #363537, -11px 11px #000000, -11px 9px #000000, -9px 11px #000000;
  }
}

@media (max-width: 1500px) and (min-width: 750px) {
  header #header-content_cta-buttons a {
    font-size: .7rem;
    width: 50%;
    box-shadow: -10px 10px #363537, -11px 11px #000000, -11px 9px #000000, -9px 11px #000000;
  }
}

header .circle, header .circle1, header .circle2 {
  height: 100vw;
  width: 100vw;
  position: fixed;
  border-radius: 50%;
}

@media (max-width: 750px) {
  header .circle, header .circle1, header .circle2 {
    display: none;
  }
}

@media (max-width: 1500px) and (min-width: 750px) {
  header .circle, header .circle1, header .circle2 {
    width: 70rem;
    height: 70rem;
  }
}

header .circle1 {
  height: 100wv;
  width: 100wv;
  background-color: #CEFFDC;
  z-index: -10;
  top: 25%;
  left: -50vw;
  opacity: .8;
}

@media (max-width: 1500px) and (min-width: 750px) {
  header .circle1 {
    height: 25wv;
    width: 25wv;
    top: 25%;
    left: -60%;
  }
}

header .circle2 {
  width: 60rem;
  height: 60rem;
  background-color: #d1d1d16e;
  z-index: -20;
  top: -10vh;
  right: -22%;
}

@media (max-width: 1500px) and (min-width: 750px) {
  header .circle2 {
    width: 30rem;
    height: 30rem;
    top: -5vh;
    right: -20%;
  }
}

#explainer-block {
  padding: 5rem 0 5rem 0;
  height: 80vh;
  width: 100%;
  background-color: #E8E9F3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 750px) {
  #explainer-block {
    height: 100%;
  }
}

@media (max-width: 1500px) and (min-width: 750px) {
  #explainer-block {
    height: 100%;
  }
}

#explainer-block_header {
  padding-bottom: 2rem;
  width: 80%;
  text-align: left;
}

#explainer-block_header p {
  font-weight: 500;
  font-size: 1.3rem;
}

#explainer-block_header #small {
  font-weight: 800;
  font-size: .75rem;
}

#explainer-block .container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

#explainer-block .container .card {
  padding: .5rem .2rem;
  background-color: #fff;
  margin: .8rem;
  width: 290px;
  height: 400px;
  border: solid black 2px;
  box-shadow: -10px 10px #c1c1c1,  -12px 12px #000000, -12px 8px #000000, -8px 12px #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 750px) {
  #explainer-block .container .card {
    margin: 1rem;
  }
}

@media (max-width: 1500px) and (min-width: 750px) {
  #explainer-block .container .card {
    margin: 1.5rem;
  }
}

#explainer-block .container .card-image {
  width: 80%;
  margin-bottom: 1rem;
}

#explainer-block .container .card-header {
  font-weight: 600;
  font-size: 1rem;
  font-weight: 500;
}

#explainer-block .container .card p {
  padding: .4rem .1rem 0 .1rem;
  text-align: center;
  font-size: .75rem;
}

#explainer-block .container .card:hover {
  transform: scale(1.07);
}

#testimonial-block {
  padding: 5rem;
  height: 100vh;
  width: 100%;
  background-color: #F3E8E8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

@media (max-width: 750px) {
  #testimonial-block {
    height: 100%;
  }
}

@media (max-width: 1500px) and (min-width: 750px) {
  #testimonial-block {
    height: 100%;
  }
}

#testimonial-block_header {
  font-size: 2rem;
  font-weight: 400;
  margin-left: 3.7rem;
  width: 80%;
  text-align: left;
}

@media (max-width: 750px) {
  #testimonial-block_header {
    width: 100%;
    font-size: 1.5rem;
    margin: 0;
    padding-bottom: 2rem;
  }
}

@media (max-width: 1500px) and (min-width: 750px) {
  #testimonial-block_header {
    padding-bottom: 2rem;
  }
}

#testimonial-block_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 750px) {
  #testimonial-block_container {
    flex-direction: column;
  }
}

@media (max-width: 1500px) and (min-width: 750px) {
  #testimonial-block_container {
    flex-direction: column;
  }
}

.testimonial_card {
  background-color: white;
  height: 400px;
  width: 40%;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1rem;
  box-shadow: -20px 20px #c1c1c1,  -22px 22px #000000, -22px 18px #000000, -18px 22px #000000;
}

@media (max-width: 750px) {
  .testimonial_card {
    margin-bottom: 3rem;
    width: 90%;
    min-width: 400px;
    height: 300px;
  }
}

@media (max-width: 1500px) and (min-width: 750px) {
  .testimonial_card {
    margin-bottom: 3rem;
    width: 90%;
    min-width: 400px;
    max-width: 600px;
    height: 400px;
  }
}

.testimonial_card-quote {
  font-weight: 400;
  width: 100%;
  z-index: 3;
  padding: 1rem 2rem;
  font-size: 1.3rem;
}

@media (max-width: 750px) {
  .testimonial_card-quote {
    font-size: .85rem;
  }
}

@media (max-width: 1500px) and (min-width: 750px) {
  .testimonial_card-quote {
    font-size: 1.25rem;
  }
}

@media (max-width: 785px) and (min-width: 751px) {
  .testimonial_card-quote {
    font-size: 1rem;
  }
}

.testimonial_card-quote::before {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7rem;
  content: "\"";
  float: left;
  line-height: 0;
  position: relative;
  top: 2rem;
  left: -2.5rem;
  z-index: -1;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

@media (max-width: 750px) {
  .testimonial_card-quote::before {
    top: 1rem;
    font-size: 5rem;
  }
}

.testimonial_card-quote::after {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7rem;
  content: "\"";
  float: right;
  line-height: 0;
  position: relative;
  bottom: -4rem;
  right: -2rem;
  z-index: -1;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

@media (max-width: 750px) {
  .testimonial_card-quote::after {
    bottom: -2rem;
    font-size: 5rem;
  }
}

.testimonial_card-identity {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.testimonial_card-identity .image {
  height: 6rem;
  width: 6rem;
  border: solid black 2px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

@media (max-width: 750px) {
  .testimonial_card-identity .image {
    height: 4rem;
    width: 4rem;
  }
}

@media (max-width: 1500px) and (min-width: 750px) {
  .testimonial_card-identity .image {
    height: 5rem;
    width: 5rem;
  }
}

.testimonial_card-identity #image1 {
  background-image: url("https://images.pexels.com/photos/2078265/pexels-photo-2078265.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.testimonial_card-identity #image2 {
  background-image: url("https://images.pexels.com/photos/3290234/pexels-photo-3290234.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.testimonial_card-identity .name {
  font-weight: 600;
  font-size: 1.5rem;
}

@media (max-width: 750px) {
  .testimonial_card-identity .name {
    font-size: 1rem;
  }
}

@media (max-width: 785px) and (min-width: 751px) {
  .testimonial_card-identity .name {
    font-size: 1rem;
  }
}

.testimonial_card-identity .name::before {
  content: "-";
}

#contact-block {
  height: 100vh;
  width: 100%;
  background-color: #CEFFDC;
  display: grid;
  place-items: center;
}

#contact-block_form {
  font-family: 'Raleway';
  border: solid black 1px;
  background-color: white;
  width: 35%;
  height: 70%;
  display: flex;
  flex-direction: column;
  padding: 2rem 2.5rem;
  box-shadow: -30px 30px #363537, -31px 29px #000000, -31px 31px #000000, -29px 31px #000000;
}

@media (max-width: 1500px) and (min-width: 750px) {
  #contact-block_form {
    width: 80%;
  }
}

@media (max-width: 750px) {
  #contact-block_form {
    box-shadow: none;
  }
}

@media (max-width: 750px) {
  #contact-block_form {
    width: 100%;
  }
}

@media (max-width: 1500px) and (min-width: 750px) {
  #contact-block_form {
    width: 80%;
    max-width: 600px;
  }
}

#contact-block_form h2 {
  font-weight: 400;
  margin-bottom: 1rem;
}

#contact-block_form .name-container {
  display: flex;
}

#contact-block_form .name-container :first-child {
  padding-right: .5rem;
}

#contact-block_form .name-container-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 .3rem 0 0;
}

#contact-block_form label {
  font-weight: 400;
  font-size: .6rem;
  margin-top: 1rem;
  margin-bottom: .2rem;
}

#contact-block_form textarea {
  padding: .5rem;
  color: #6b6b6b;
}

#contact-block_form input {
  font-family: inherit;
}

#contact-block_form input[type=text], #contact-block_form input[type=email] {
  color: #6b6b6b;
  height: 2rem;
  padding-left: .5rem;
}

#contact-block_form input[type=submit] {
  font-size: .6rem;
  font-weight: 400;
  height: 2rem;
  width: 8rem;
  background-color: white;
  border: solid black 1px;
  margin-top: .5rem;
}

#contact-block_form input[type=submit]:hover {
  background-color: black;
  color: white;
}

footer {
  width: 100%;
  height: 45vh;
  background-color: #455A64;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 750px) {
  footer {
    height: 100%;
    padding-top: 2.5rem;
  }
}

footer .footer-content_container {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  color: white;
}

@media (max-width: 750px) {
  footer .footer-content_container {
    height: 100%;
    font-size: .7rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

footer .footer-content_container #footerLogo {
  object-fit: contain;
}

@media (max-width: 1500px) and (min-width: 750px) {
  footer .footer-content_container #footerLogo {
    width: 10rem;
  }
}

@media (max-width: 750px) {
  footer .footer-content_container #footerLogo {
    max-width: 60%;
    margin-bottom: 3rem;
  }
}

footer .footer-content_container nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

footer .footer-content_container nav a {
  text-decoration: none;
  color: white;
}

footer .footer-content_container nav a:hover {
  text-decoration: underline;
}

@media (max-width: 750px) {
  footer .footer-content_container nav a {
    margin-bottom: 2rem;
    text-align: center;
  }
}

footer #bottom_bar {
  width: 100%;
  height: 2rem;
  background-color: #222229;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  padding: 0 3rem;
  font-size: 2rem;
}

@media (max-width: 750px) {
  footer #bottom_bar {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    height: 100%;
  }
}

footer #bottom_bar p {
  margin-bottom: .3rem;
  font-size: 1rem;
}

@media (max-width: 750px) {
  footer #bottom_bar p {
    font-size: .7rem;
  }
}

@media (max-width: 1500px) and (min-width: 750px) {
  footer #bottom_bar p {
    font-size: .7rem;
  }
}
